.selected {
  background-color: var(--bs-blue);
  color: var(--bs-light);
}

.selected a {
  --bs-link-color-rgb: 255,255,255;
  --bs-link-color: #fff;
}

.templates-content {
  display: grid;
  grid-template-columns: [first-col] 6fr [second-col] 1fr [third-col] 2fr [forth-col];
  grid-template-rows: [first-row] 200px [second-row] 500px [third-row];
}

.templates-panel {
  grid-column-start: first-col;
  grid-column-end: second-col;
  grid-row-start: first-row;
  grid-row-end: second-row;
}

.dataset-panel {
  grid-column-start: third-col;
  grid-column-end: forth-col;
  grid-row-start: first-row;
  grid-row-end: second-row;

  align-self: end;
}

.templates-wrapper {
  grid-column-start: first-col;
  grid-column-end: second-col;
  grid-row-start: second-row;
  grid-row-end: third-row;

  border: 1px solid grey;
  border-radius: 10px;
}

.compose-wrapper {
  grid-column-start: second-col;
  grid-column-end: third-col;
  grid-row-start: second-row;
  grid-row-end: third-row;

  place-self: center;
}

.datasets-wrapper {
  grid-column-start: third-col;
  grid-column-end: forth-col;
  grid-row-start: second-row;
  grid-row-end: third-row;

  border: 1px solid grey;
  border-radius: 10px;
}

.add-template-container {
  display: grid;
}

.add-template-child {
  place-self: center;
}

.template-icon-wrapper, .template-view-icon-wrapper {
  font-size: 2rem;
  place-self: center;
}

.datasets-wrapper > div {
  height: 100%;
  display: grid;
  grid-template-rows: 6fr 1fr;
}

.dataset-icon-wrapper, .dataset-view-icon-wrapper {
  font-size: 1rem;
  place-self: center;
}

.dataset {
  font-size: 12px;
}

.dataset * {
  padding: 0!important;
}

.add-dataset-wrapper {
  display: grid;
  /*place-items: stretch;*/
}
