<app-header [requestUser]="true"></app-header>
<main class="container templates-content">
  <article class="row templates-panel pt-5 pb-4 px-4">
    <div class="col-9">
      <h1  class="mb-5">Templates</h1>
      <div class="row">
        <div class="col-2 me-4"><span>Total: {{templates ? templates.length : 0}}</span></div>
        <div class="col-2 dropdown">
          <span class="cursor-pointer dropdown-toggle" id="sortTemplateByDropDown" data-bs-toggle="dropdown" aria-expanded="false">Sort by</span>
          <ul class="dropdown-menu" aria-labelledby="sortTemplateByDropDown">
            <li><a class="dropdown-item" href="#" (click)="onTemplateSortBy($event, 'name', 'asc')">Name <i class="bi bi-sort-up"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onTemplateSortBy($event, 'name', 'desc')">Name <i class="bi bi-sort-down"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onTemplateSortBy($event, 'created', 'asc')">Created <i class="bi bi-sort-up"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onTemplateSortBy($event, 'created', 'desc')">Created <i class="bi bi-sort-down"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onTemplateSortBy($event, 'size', 'asc')">Size <i class="bi bi-sort-up"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onTemplateSortBy($event, 'size', 'desc')">Size <i class="bi bi-sort-down"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col add-template-container">
      <div class="add-template-child">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTemplateModal">Add template</button>

        <!-- Modal Add Template -->
        <div class="modal fade" id="addTemplateModal" tabindex="-1" aria-labelledby="addTemplateModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="#" [formGroup]="addTemplate" (ngSubmit)="onTemplateCreate()">
                <div class="modal-header">
                  <h5 class="modal-title" id="addTemplateModalLabel">Add Template</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <fieldset>
                    <div class="row mb-3">
                      <label for="newTemplateName" class="col-sm-4 col-form-label">Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="name" id="newTemplateName">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="newTemplateName" class="col-sm-4 col-form-label">File</label>
                      <div class="col-sm-8">
                        <input type="file" class="form-control" #newTemplateFile id="newTemplateFile"
                               [accept]="acceptFiles" (change)="onTemplateFileSelected($event)">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="newTemplateFormat" class="col-sm-4 col-form-label">Format</label>
                      <div class="col-sm-4">
                        <select class="form-select" formControlName="format" id="newTemplateFormat">
                          <option *ngFor="let f of formats" [ngValue]="f.name">{{f.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-form-label col-sm-4">Token placeholder</div>
                      <div class="row col">
                        <div class="col-3">
                          <input type="text" class="form-control" formControlName="beginTokenPlaceholder"
                                 placeholder="${" aria-label="Begin token phldr">
                        </div>
                        <div class="col-3">
                          <input type="text" class="form-control" formControlName="endTokenPlaceholder"
                                 placeholder="}" aria-label="End token phldr">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-form-label col-sm-4">Escape placeholder</div>
                      <div class="row col">
                        <div class="col-3">
                          <input type="text" class="form-control" formControlName="beginEscapePlaceholder"
                                 placeholder="\" aria-label="Begin escape phldr">
                        </div>
                        <div class="col-3">
                          <input type="text" class="form-control" formControlName="endEscapePlaceholder"
                                 placeholder="\" aria-label="End escape phldr">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="row dataset-panel pt-5 pb-4 px-4">
    <div class="col-9">
      <h4  class="mb-4">Datasets</h4>
      <div class="row small">
        <div class="col me-4"><span>Total: {{datasets ? datasets.length : 0}}</span></div>
        <div class="col-2 dropdown">
          <span class="cursor-pointer dropdown-toggle" id="sortDatasetByDropDown" data-bs-toggle="dropdown" aria-expanded="false">Sort by</span>
          <ul class="dropdown-menu" aria-labelledby="sortDatasetByDropDown">
            <li><a class="dropdown-item" href="#" (click)="onDatasetSortBy($event, 'name', 'asc')">Name <i class="bi bi-sort-up"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onDatasetSortBy($event, 'name', 'desc')">Name <i class="bi bi-sort-down"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onDatasetSortBy($event, 'created', 'asc')">Created <i class="bi bi-sort-up"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onDatasetSortBy($event, 'created', 'desc')">Created <i class="bi bi-sort-down"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onDatasetSortBy($event, 'size', 'asc')">Size <i class="bi bi-sort-up"></i></a></li>
            <li><a class="dropdown-item" href="#" (click)="onDatasetSortBy($event, 'size', 'desc')">Size <i class="bi bi-sort-down"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <section class="templates-wrapper overflow-y-scroll">
    <div class="py-3">
      <ul class="overflow-hidden template-list">
        <li class="row border-top border-bottom py-4" [attr.data-template-id]="template.id"
            (click)="onTemplateSelected($event)" *ngFor="let template of templates">
          <div class="col-2 d-grid">
            <div class="template-icon-wrapper">
              <i class="bi" [ngClass]="lookupFormat(template.format, 'template')?.iconClass"></i>
            </div>
          </div>
          <div class="col-8">
            <h3 class="mb-4">{{template.name}}</h3>
            <div class="row">
              <div class="col-5">Created: {{template.created | date: 'short' }}</div>
              <div class="col">Size: {{template.size | sizeFormatter}}</div>
              <div class="col">
                {{'' + template.beginEscapePlaceholder + template.beginTokenPlaceholder + '...' + template.endTokenPlaceholder + template.endEscapePlaceholder}}
              </div>
            </div>
          </div>
          <div class="col-2 d-grid">
            <div class="template-view-icon-wrapper">
              <a href="#" (click)="onTemplateDownload($event, template.id, template.name)">
                <i id="template-download-link" class="bi bi-download"></i>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="compose-wrapper">
    <div class="text-center">
      <button class="btn btn-primary mb-4" [ngClass]="[(selectedTemplate === null || selectedDataset === null) ? 'disabled' : '']"
        (click)="onCompose()">
        <i class="bi bi-gear"></i> Compose
      </button>
      <button class="btn btn-primary" [ngClass]="[(lastComposed === null) ? 'd-none' : '']"
              (click)="onComposeDownload($event)">
        <i class="bi bi-download"></i> Download
      </button>
    </div>
  </section>
  <aside class="datasets-wrapper">
    <div class="pt-3">
      <ul class="overflow-hidden overflow-y-scroll">
        <li class="row dataset border-top border-bottom py-2" [attr.data-dataset-id]="dataset.id"
            (click)="onDatasetSelected($event)" *ngFor="let dataset of datasets">
          <div class="col-3 d-grid">
            <div class="dataset-icon-wrapper">
              <i class="bi" [ngClass]="lookupFormat(dataset.format, 'dataset')?.iconClass"></i>
            </div>
          </div>
          <div class="col-6">
            <h5 class="mb-2">{{dataset.name}}</h5>
            <div class="d-flex flex-column">
              <div class="col">Created: {{dataset.created | date: 'short'}}</div>
              <div class="col">Size: {{dataset.size | sizeFormatter}}</div>
            </div>
          </div>
          <div class="col-3 d-grid">
            <div class="dataset-view-icon-wrapper">
              <a href="#" (click)="onDatasetDownload($event, dataset.id, dataset.name)">
                <i id="dataset-download-link" class="bi bi-download"></i>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <div class="add-dataset-wrapper">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDatasetModal"><i class="bi bi-file-earmark-plus"></i></button>

        <!-- Modal Add Dataset -->
        <div class="modal fade" id="addDatasetModal" tabindex="-1" aria-labelledby="addDatasetModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="#" [formGroup]="addDataset" (ngSubmit)="onDatasetCreate()">
                <div class="modal-header">
                  <h5 class="modal-title" id="addDatasetModalLabel">Add Dataset</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <fieldset>
                    <div class="row mb-3">
                      <label for="newDatasetName" class="col-sm-4 col-form-label">Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="name" id="newDatasetName">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="newDatasetName" class="col-sm-4 col-form-label">File</label>
                      <div class="col-sm-8">
                        <input type="file" class="form-control" #newDatasetFile id="newDatasetFile"
                               [accept]="acceptDatasetFiles" (change)="onDatasetFileSelected($event)">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="newDatasetFormat" class="col-sm-4 col-form-label">Format</label>
                      <div class="col-sm-4">
                        <select class="form-select" formControlName="format" id="newDatasetFormat">
                          <option *ngFor="let f of datasetFormats" [ngValue]="f.name">{{f.name}}</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</main>
<app-footer></app-footer>
