<app-full-screen>
  <app-header></app-header>
  <section class="container form-container">
    <div class="form-wrapper">
      <form action="#">
        <fieldset>
          <legend>Login</legend>
          <div class="mb-3">
            <label for="username-input" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-input" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">Valid username.</div>
          </div>
          <div class="mb-3">
            <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Valid password.</div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
        <div class="mt-3 fs-6 text-center">
          <div>New to the Document Composer?</div>
          <div><a href="/signup">Sign up</a></div>
        </div>
      </form>
    </div>
  </section>
</app-full-screen>
