<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/fragments.html :: jQuery" />
    <th:block th:replace="fragments/fragments.html :: util" />
    <th:block th:replace="fragments/fragments.html :: messages" />
    <title></title>
</head>
<body>
    <th:block th:replace="fragments/fragments.html :: header"/>
    <main>
        <section id="template"></section>
        <section id="display"></section>
    </main>
    <th:block th:replace="fragments/fragments.html :: footer"/>
    <script th:src="@{/js/template.js}"></script>
</body>
</html>